.App {
  padding: 2rem;
  /* text-align: center; */
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 5px;
  min-height: 90vh;
}

.AllMail {
  /* background-color: aliceblue; */
  overflow-y: scroll;
  max-height: 90vh;
}

.MailBody {
  /* background-color: aquamarine; */
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}
