.App {
  padding: 1rem 2rem;
  /* text-align: center; */
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 5px;
  min-height: 90vh;
}

.AllMail {
  /* background-color: aliceblue; */
  overflow-y: scroll;
  max-height: 90vh;
}

::-webkit-scrollbar {
  background-color: gray;
  width: 7px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #915acd;
}
nav {
  height: 50px;
  /* background-color: aliceblue; */
}
nav div {
  display: flex;
  gap: 2rem;
  margin-left: 5rem;
}
nav div p {
  border: 1px solid gray;
  background-color: white;

  padding: 5px 1rem;
  border-radius: 10px;
  cursor: pointer;
}
nav div p:hover {
  background-color: aqua;
}
